.form__container {
  width: 1440px;
  height: 1606px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form__container {
    width: 375px;
    height: 1741px;
    margin-top: 122px;
  }
}
.form__container-head {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .form__container-head {
    height: 66px;
  }
}

.form__container-head-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.3%;
  text-align: center;
  color: #828282;
}
@media screen and (max-width: 767px) {
  .form__container-head-subtitle {
    font-size: 12px;
  }
}

/*form-content*/
.form-content {
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}
.form-content h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 147.3%;
  text-align: left;
  margin-bottom: 30px;
}

.info-car {
  width: 679px;
  height: 975px;
  border: 1px solid red;
}
.engine_power {
  display: flex;
  height: 44px;
  margin-bottom: 20px;
}
.engine_power span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1b1b1b;
  margin-right: 190px;
  align-self: center;
}
.engine_power label {
  margin-right: 10px;
}
.input-power {
  width: 155px;
}
.classNameWrapper {
    margin-bottom: 60px;
}
.button-container {
  width: 1440px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px 0px #dee2e4;
  position: relative;
  background-color: #fff;
}

.password_wrapper {
  position: relative;
}
.size-wide {
  width: 679px;
}
.eye {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
.eye_confirm {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 12px;
}

@media screen and (max-width: 767px) {
  .eye {
    top: 38px;
    right: 10px;
  }
  .eye_confirm {
    top: 38px;
    right: 10px;
  }
  .button-container {
    width: 375px;
    height: 84px;
  }
}

.position-up {
  position: relative;
  top: -1000px;
}

.signup-form-error-fix {
  padding-top: 8px;
  margin-left: 264px;
}
