.usercar-container {
  width: 1440px;
  height: 2925px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 219px;
  position: relative;
}
.usercar-arrow-wrapper {
  cursor: pointer;
}
.usercar-arrow {
  width: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 211px;
  top: 157px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 147.3%;
  color: #508e87;
  z-index: 10;
}
.fa {
  font-size: 24px;
}
.button-container .btn-delete {
  width: 239px;
  height: 51px;
  background: #fbdddd;
  color: #f88c8c;
  margin-left: 20px;
}
.button-container .btn-delete:hover {
  background: #fdcfcf;
}
.button-container .toupdatecar {
  width: 196px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .usercar-container {
    width: 375px;
    height: 2925px;
    padding-top: 69px;
  }
  .usercar-arrow {
    left: 24px;
    top: 17px;
    font-size: 12px;
  }
}
